In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('employee.db')

In [3]:
c = conn.cursor()

In [4]:
type(c)

sqlite3.Cursor

In [5]:
c

In [6]:
#create a table
c.execute(""" CREATE TABLE employee(
first text,
last text,
pay integer
)""")

OperationalError: table employee already exists

In [ ]:
conn.commit()

In [ ]:
#c.execute("INSERT INTO  employee VALUES('Ram','Kumar',89000)")
c.execute("INSERT INTO  employee VALUES('Laxman','Kumar',80000)")

In [ ]:
c.execute("SELECT * FROM employee where last='Kumar'")
print(c.fetchmany(3))

In [ ]:
c.execute("UPDATE employee set pay=85000 WHERE first='Laxman'")

In [ ]:
c.execute("SELECT * FROM employee where last='Kumar'")
print(c.fetchmany(3))

In [ ]:
c.execute("DELETE FROM employee where first='Ram'")

In [7]:
c.execute("SELECT * FROM employee where last='Kumar'")
print(c.fetchmany(3))

[('Laxman', 'Kumar', 85000)]

In [ ]:
conn.commit()

In [ ]:
conn.close()